@font-face {
	font-family: 'Iosevka SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../font/iosevka-ss03-regular.woff2') format('woff2');
}

html, body {
    background-color: #404552;
    color: white;
}

body {
    font-family: 'Iosevka SS03 Web', monospace;
    font-size: 24px;
    padding-left: 21%;
    padding-right: 21%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Iosevka SS03 Web', monospace;
    font-size: 36px;
    color: skyblue;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding-right: 15px;
}

.navbar a:hover {
    color: lightskyblue;
    text-decoration: none;
}

.navbar a:active {
    color: deepskyblue;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    * {
        font-size: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 22px;
    }
}