@font-face {
	font-family: 'Iosevka SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../font/iosevka-ss03-regular.woff2') format('woff2');
}

html, body {
    background-color: #383c4a;
    color: white;
}

body {
    font-family: 'Iosevka SS03 Web', monospace;
    font-size: 24px;
    overflow: hidden;
}

.footer {
    float: right;
    text-align: right;
    font-size: small;
    color: gray;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Iosevka SS03 Web', monospace;
    color: skyblue;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}

hr {
    border-top: 2px solid gray;
}

li {
    /* list-style: square; */
}

li:hover {
    list-style-type: decimal;
}

li:hover:not(button) {
    list-style-type: none;
}

.link-selected {
    text-decoration: none;
}

.link-selected:hover {
    text-decoration: none;
}

a:hover {
    color: skyblue;
    text-decoration: none;
}

p {
    font-size: inherit;
}

.rgb {
    animation: none;
}

.rgb:hover {    
    animation: color-change 1s infinite;
}
  
@keyframes color-change {
    0% { color: red; }
    12.5% { color: orange; }
    25% { color: yellow; }
    37.5% { color: green; }
    50% { color: blue; }
    62.5% { color: indigo; }
    75% { color: purple; }
    87.5% { color: red; }
    100% { color: pink; }
}

button {
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

#navbar {
    overflow: hidden;
    min-height: auto;
    margin-left: -1ch;
}

#navbar a {
    float: left;
    display: block;
    padding-left: 1ch;
}

#navbar a:hover {
    color: lightskyblue;
    text-decoration: none;
}

#navbar a:hover::before {
    content: ">";
    margin-left: -1ch;
}

#navbar a:hover::after {
    content: "_";
    margin-right: -1ch;
}

.unSelect {
    color: white;
}

.currentSelect {
    color: deepskyblue;
    font-weight: bold;
}

#pageNotFound {
    max-width: 100%;
}

#backButton {
    background-color: #b35e6b;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
}

.modal-content {
    background-color: #383c4a;
}

@media screen and (max-width: 767px) {
    * {
        font-size: 15px;
    }
    h1 {
        font-size: 22.5px;
    }
    h2 {
        font-size: 18.75px;
    }
    footer {
        font-size: x-small;
    }
}