@font-face {
	font-family: 'Iosevka SS03 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../font/iosevka-ss03-regular.woff2') format('woff2');
}

html, body {
    background-color: #383c4a;
    color: white;
}

body {
    font-family: 'Iosevka SS03 Web', monospace;
    font-size: 24px;
    padding-left: 21%;
    padding-right: 21%;
}

footer {
    float: right;
    text-align: right;
    font-size: small;
    color: gray;
    font-style: italic;
    list-style: square;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Iosevka SS03 Web', monospace;
    color: skyblue;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}

hr {
    border-top: 2px solid gray;
}

#navbar {
    overflow: hidden;
    min-height: auto;
    margin-left: -1ch;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    padding-right: 1ch;
    padding-left: 1ch;
}

#navbar a:hover {
    color: lightskyblue;
    text-decoration: none;
}

#navbar a:active {
    color: deepskyblue;
    font-weight: bold;
}

#navbar a:hover::before {
    content: ">";
    margin-left: -1ch;
}

#navbar a:hover::after {
    content: "_";
    margin-right: -1ch;
}

.currentSelect {
    color: deepskyblue;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    * {
        font-size: 15px;
    }
}